/* Basic style */
/* Global */
.opensans {
  font-family: "Open Sans";
}

* {
  font-family: "Lato";
}

.bg-whitesmoke {
  background-color: whitesmoke;
  padding: 50px 0 60px;
}

.padd-space {
  padding: 50px 0 60px;
}

.text-justify {
  text-align: justify;
}

.herounit {
  background-image: url("../images/herounit.jpg");
  height: 80%;
  background-repeat: no-repeat;
  background-size: cover;
}

.herounit-container {
  margin-top: 20%;
  color: whitesmoke;
  display: table;
  /*height: 100%;*/
}

.herounit-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.feature-tab .feature-quotes {
  /*background-color: #009975;*/
  padding: 50px 0 50px;
}


/* Card styling */
.card {
  border: 1px solid;
  padding: 15px;
}

.card img {
  border:15px solid whitesmoke;
  background-color: #BDC3C7;
  padding: 5px;
  width: 220px
}

.card .card-text {
  text-align: justify;
}

.card-mini {
  padding: 10px;
  background-color: white;
}

.lead2 {
  text-align: right;
  padding-top: 5px;
}
