/* Override */
* {
  outline: 0;
}
.navbar {
  background-color: white !important;
  height: 80px;
  border-radius: 0;
  margin-bottom: 0;
}

.navbar-brand {
  height: 80px;
  padding-top: 30px;
}

.navbar-nav {
  margin-top: 6px;
}

.navbar-right {
  padding-top: 20px;
}


/* Form-group */
.form-group .custom-blog-search {
  border: none;
  box-shadow: none;
  border: thin solid #f3f3f3;
  border-radius: 0;
  width: 400px;
  height: 50px;
  font-size: 22px;
}

.custom-blog-search-button {
  border: none;
  box-shadow: none;
  border: thin solid #f3f3f3;
  border-radius: 0;
  height: 50px;
  font-size: 22px;
}

.custom-blog-search-button:hover {
  background-color: #f3f3f3;
  border:thin solid #f3f3f3;
}

.custom-blog-search-button:active {
  background-color: #f3f3f3;
  border:thin solid #f3f3f3;
}
